.header{
    height: 80vh;
    background: url(../Images/image5.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    width: 50vw;
    margin: auto;
    margin-top: 75px;
}

.container .card .sub-heading{
    
}