html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

a{
    text-decoration: none;
    padding: 5px 10px;
}
.nav-bar{
    border-bottom-left-radius: .7em;
    border-bottom-right-radius: .7em;
    z-index: 100;
    padding: 10px 0px 5px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(235, 235, 235);
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-bar .items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.nav-bar .items a{
    display: block;
    color: rgb(116, 116, 116);
}

.nav-bar .items a:hover{
    border-bottom: 2.5px solid rgb(120, 240, 51);
}

.nav-bar .items .logo img{
    height: 60px;
}

.current-page{
    border-bottom: 2.5px solid rgb(120, 240, 51);
}